{{!-- Start this from scratch, what do you want to show here... --}}

<div class="row align-center mb-5">
  <div class="column">
    <h1 class="title is-4 has-text-link">{{onePost.post_name}}</h1>
    <p>{{onePost.post_description}}</p>
    <h5>Created by: {{onePost.user.user_name}}</h5>
    <h6>Created on {{format_date onePost.post_date_created}}</h6>
    <h6>Post Id: {{onePost.id}}</h6>
</div>
  </div>


<div class="row align-center mb-5">
  <div class="column">
     <h2>Leave a Comment:</h2>
     <textarea class="textarea is-danger" placeholder="Type Your Comment Here" id="comment_text"></textarea>

    <button class="button is-danger m-3" id="save-comment-btn">Save Comment</button>
  </div>
</div>


  <script src="/js/makeComment.js"></script>